<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    </head>
    <body>
            <div class="hero-text">
                <h1  class="slide-right" style="font-size:50px">Hi, I'm Shane</h1>
                <h3>And I'm a Web Developer</h3>
            </div>
    </body>
    </html>